<html>

<head>
    <title>AppVentory | account registration</title>
</head>

<body>
    <div>
        <span style="font-weight: bold;">Data: </span>
        <span>id = {{data.id}}</span>
    </div>
</body>

</html>